.grid {
	width: 700px;
	margin: 10px;
}

/* Default all cells to 80px width */
.grid .dgrid-cell {
	width: 80px;
}

/* Make the columns for first/last name wider */
.grid .field-first,
.grid .field-last {
	width: 100px;
}

/*
	For the columnset example, make each columnset occupy
	half the total grid width.
*/
.grid .dgrid-column-set-cell {
	width: 50%;
}